@mixin btn-style($btn-color) {
  background-color: $btn-color;
  position: relative;
  &:hover {
    background: rgba(0,0,0,0);
      color: $btn-color;
      box-shadow: inset 0 0 0 2px $btn-color;
  }
  &:before {
      font-family: $FontAwesomeBrands;
      position: absolute;
      left: 25px;
    }
}



