@media only screen and (min-width: 320px) {
  body {
    overflow-x: hidden;
  }
  .header {
    font-family: $Montserrat;
    height: 103px;
    background-color: #27262a;
  }
  .header a {
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  .header__navbar {
    display: flex;
    justify-content: space-between;
  }


  .header__navbar-logo {
    margin-left: 16px;
  }

  .header__navbar-logo,.header__navbar-button {
    margin-top: 32px;
  }

  .header__navbar-logo span {
    display: none;
  }

  .header__navbar-menu {
    display: flex;
    justify-content: space-between;
  }

  .header__navbar-menu1200 {
    display: none;
  }

  .header__navbar-button {
    width: 119px;
    height: 37px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    background-color: $purple;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
  }
  .header__navbar-button:hover {
    background-color: #fff;
    color: $purple;
  }


  .header__navbar-nav-toggle {
    position: relative;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 15px;
    margin-top: 40px;
  }
  .line {
    width: 26px;
    height: 3px;
    background-color: #e5e3e3;
    margin-bottom: 6px;
    transition: all 0.4s ease;
    transform-origin: 0.5px;
  }
  .line:first-child {
    width: 20px;
  }
  .line:last-child {
    margin-bottom: 0;
  }

  .active .line:nth-of-type(1) {
    transform: rotate(45deg);
    width: 26px;
  }

  .active .line:nth-of-type(2) {
    opacity: 0;
  }

  .active .line:nth-of-type(3) {
    transform: rotate(-45deg);
  }

  .header__navbar-nav-menu {
    position: absolute;
    top: 103px;
    //left: 0;
    right: -400px;
    transition: all 0.4s linear;
    width: 100%;
    height: 400px;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .header__navbar-nav-menu a {
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
    height: 99px;
    padding-left: 22px;
    border-bottom: 1px Solid #3b3b3b;
  }

  .header__navbar-nav-menu a:hover::before {
    content: '';
    width: 4px;
    height: 53px;
    position: absolute;
    left: 0;
    background-color: $purple;
  }

  .header__navbar-nav-menu a:hover {
    color: $purple;
  }

  .active .header__navbar-nav-menu {
    right: 0;
  }

  .header__navbar-nav-menu768 {
    display: none;
  }
  .header__navbar-nav-menu768 a {
    color: $purple;
  }
}

@media only screen and (min-width: 401px) {
  .header__navbar-logo {
    margin-left: 25px;
  }

  .header__navbar-logo span{
    display: inline;
    padding-left: 13px;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    color: $purple;
    font-weight: 700;
  }

  .header__navbar-logo,.header__navbar-button {
    margin-top: 26px;
  }

  .header__navbar-button {
    width: 150px;
    height: 48px;
    font-size: $font+1;
    border-radius: 25px;
  }

  .header__navbar-nav-toggle {
    margin-right: 27px;
    margin-top: 38px;
  }

  .header__navbar-nav-menu {
    right: -480px;
    height: 534px;
  }

  .header__navbar-nav-menu a {
    font-size: $font*2;
    height: 122px;
    padding-left: 32px;
    border-bottom: 2px Solid #3b3b3b;
  }
}

@media only screen and (min-width: 481px) {
  .header {
    height: 118px;
  }

  .header a {
    align-items: inherit;
  }

  .header__navbar-logo img {
    width: 43px;
    height: 41px;
  }

  .header__navbar-logo span {
    margin-top: 8px;
  }

  .header__navbar-button {
    width: 145px;
    height: 38px;
    margin-right: 20px;
    font-size: $font;
  }

  .header__navbar-nav {
    display: none;
  }

  .header__navbar-nav768 {
    max-width: 570px;
    margin: 0 auto;
  }

  .header__navbar-nav-menu768 {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    margin-top: 17px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .header__navbar-nav-menu768 a:hover {
    color: #fff;
  }
}

@media only screen and (min-width: 993px) {
  .header {
    height: 100px;
  }

  .header__navbar {
    max-width: 1200px;
    height: 100px;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  .header__navbar-logo,.header__navbar-logo span {
    margin: 0;
  }

  .header__navbar-menu {
    height: 100px;
    display: flex;
    align-items: center;
  }

  .header__navbar-button {
    margin: 0;
  }

  .header__navbar-nav768 {
    display: none;
  }

  .header__navbar-menu1200 {
    height: 100px;
    display: flex;
    align-items: center;
  }
  .header__navbar-menu1200 a {
    margin-right: 58px;
    color: $purple;
    font-weight: 700;
  }

  .header__navbar-button:hover {
    background-color: #fff;
    color: $purple;
  }

  .header__navbar-menu1200 a:hover {
    color: #fff;
  }
}

