@media only screen and (min-width: 320px) {
  .pricing {
    height: 2190px;
    background-color: #4b3b4e;
    text-align: center;

    .container {
      //padding: 0 10px;

      .pricing__content {
        background-image: url("../../img/pricing/bg-pricing-320.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 888px;
        font-family: $Montserrat;
        color: #ffffff;

        .pricing-title {
          .pricing-title-name {
            font-size: 28px;
            font-weight: 700;
            line-height: 42px;
            margin-bottom: 40px;
            padding: 0 10px;
          }
        }

        .pricing-table {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;

          .pricing-item {
            width: 257px;
            height: 457px;
            background-color:  rgba(255, 255, 255, 0.11);
            margin-bottom: 15px;

            .pricing-name {
              font-size: 24px;
              text-transform: uppercase;
              width: 257px;
              height: 97px;
              background-color:  rgba(255, 255, 255, 0.06);
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .pricing-item__info {
              .pricing-item__price {
                font-size: 60px;
                margin: 32px 0 20px 0;

                .pricing-item__price-number {
                  font-weight: 700;
                }
              }
              .pricing-item__info-small {
                font-size: 14px;
                text-transform: uppercase;
                margin-bottom: 60px;
                opacity: 0.4;

                &::after {
                  content: "";
                  background-color:  #8d81ac;
                  width: 60px;
                  height: 5px;
                  display: block;
                  position: relative;
                  top: 36px;
                  margin: 0 auto;
                }
              }
              .pricing-item__license {
                font-size: $font;
                line-height: 27px;
                height: 50px;
              }
              .pricing-item__buy {
                display: flex;
                justify-content: center;
                margin: 36px auto 0;

                .pricing-item__buy-btn {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-size: 15px;
                  background-color:  rgba(255, 255, 255, 0.15);
                  border-radius: 25px;
                  text-transform: uppercase;
                  color: #ffffff;
                  text-decoration: none;
                  width: 160px;
                  height: 42px;

                  &:hover {
                    background-color: #d1ccd1;
                    color: #7f6d78;
                  }
                }
              }
            }
          }

          .pricing-item_active {
            width: 288px;
            height: 560px;
            background-color: #413344;
            margin-bottom: 15px;

            .pricing-name {
              font-size: 24px;
              text-transform: uppercase;
              width: 288px;
              height: 111px;
              background-color: #3a2d3d;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .pricing-item__info_active {

              .pricing-item__price_active {
                font-size: 82px;
                margin: 15px 0 17px 0;

                .pricing-item__price-number {
                  font-weight: 700;
                }
              }
              .pricing-item__info-small {
                font-size: 14px;
                text-transform: uppercase;
                margin-bottom: 95px;
                opacity: 0.4;

                &::after {
                  content: "";
                  background-color:  #8d81ac;
                  width: 60px;
                  height: 5px;
                  display: block;
                  position: relative;
                  top: 49px;
                  margin: 0 auto;
                }
              }
              .pricing-item__license {
                font-size: $font;
                line-height: 27px;
                height: 50px;
              }
              .pricing-item__buy_active {
                display: flex;
                justify-content: center;
                margin: 80px auto 0;

                .pricing-item__buy-btn {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-size: $font;
                  background-color:  rgba(255, 255, 255, 0.15);
                  border-radius: 25px;
                  text-transform: uppercase;
                  color: #ffffff;
                  text-decoration: none;
                  width: 190px;
                  height: 52px;

                  &:hover {
                    background-color: #d1ccd1;
                    color: #7f6d78;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 401px) {
  .pricing {
    height: 2230px;

    .container {
      .pricing__content {
        background-image: url("../../img/pricing/bg-pricing-480.png");

        .pricing-title {
          .pricing-title-name {
            font-size: 42px;
            line-height: 62px;
            margin-bottom: 50px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 481px) {
  .pricing {
    height: 1250px;

    .container {
      .pricing__content {
        background-image: url("../../img/pricing/bg-pricing-768.png");
        height: 1250px;

        .pricing-table {
          margin: 0 auto;
          max-width: 650px;

          .pricing-item {
            margin: 0 20px 90px;
          }
          .pricing-item_active {
            position: relative;
            top: -48px;
          }
        }
      }
    }
  }
}