@media only screen and (min-width: 320px) {
  .section-subscription {
    background-color: $greyBackground;
  }
  .subscription {
    text-align: center;
    font-family: $Montserrat;

    &__header {
      font-size: $font +8;
      color: $darkHeader;
      font-weight: 700;
      line-height: 34px;
      margin: 30px 0 40px 0;
      width: 222px;
      display: inline-block;
      text-align: center;
    }
  }
  .subscription-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &__input {
      border-radius: 21px;
      background-color: #ffffff;
      width: 265px;
      height: 42px;
      border: none;
      margin: 0 8px 15px 8px;
      padding-left: 25px;
      outline: none;

      &::placeholder {
        color: #d7d9dc;
      }
    }
    &__btn {
      text-decoration: none;
      display: block;
      color: $white;
      text-align: center;
      margin: 6px 0 42px 0;
      border-radius: 21px;
      background-color: #8d81ac;
      width: 140px;
      height: 42px;
      outline: none;
      border: none;

      &:hover {
        background: rgba(0, 0, 0, 0);
        color: #8d81ac;
        box-shadow: inset 0 0 0 2px #8d81ac;
      }
    }

    .subscription-form__btn--text {
      font-size: 13px;
    }
  }
}

  @media only screen and (min-width: 401px) {
    .subscription {
      &__header {
        width: 100%;
      }
    }
    .subscription-form {
      &__btn {
        margin: 0 0 49px 0;
      }
    }
  }


  @media only screen and (min-width: 481px) {
    .subscription {
      &__header {
        width: 100%;
        font-size: $font*2 -2;
        color: #635c73;
        &:after {
          content: "Order callback";
        }
      }
      &__header-text {
        display: none;
      }
    }

      .subscription-form {
        flex-direction: row;
        flex-wrap: wrap;
        &__btn {
          margin: 15px 100px 32px;
        }
      }
    }


    @media only screen and (min-width: 993px) {
      .subscription {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        padding: 26px 0 26px 0;

        &__header {
          display: inline-block;
          width: 212px;
          margin: 0;
        }

        &__header-text {
          display: none;
        }
      }
      .subscription-form {
        &__input {
          margin: 0 8px 0 8px;
        }
        &__btn {
          margin: 26px 0 26px 0;
        }
      }
    }

