@media only screen and (min-width: 320px) {
  .banner {
    .container {
      .banner__content {
        background-image: url("../../img/background-banner.png");
        height: 614px;
        background-position-x: center;
        background-position-y: 74%;
        font-family: $font-family;
        text-align: center;
        margin-bottom: 45px;

        .banner__content-title {
          color: #fff;
          font-size: $font*3;
          font-weight: 700;
          padding-top: 38px;
          padding-bottom: 13px;
        }
        .banner__content-text-p1 {
          color: $purple;
          font-size: $font+2;
          padding-left: 29px;
          padding-right: 29px;
          line-height: 33px;
        }
        .banner__content-text-p2 {
          display: none;

        }
        .banner__content-text-p3 {
          font-size: 14px;
          color: #848e97;
          margin-top: 8px;
          text-transform: uppercase;
        }
      }
      .banner-btn {
        position: relative;
        top: 404px;

        .banner-button {
          width: 290px;
          height: 45px;
          color: #fff;
          font-size: $font+2;
          font-weight: 700;
          background-color: $purple;
          border-radius: 25px;
          border: 0;
          cursor: pointer;
          margin-bottom: 10px;

          &:hover {
            background-color: #fff;
            color: $purple;
            border: 1px Solid;
            border-color: $purple;

          }
        }
        .banner-btn-text {
          color: #848e97;
          font-size: 14px;
        }
      }
    }
  }
}

@media only screen and (min-width: 401px) {
  .banner {
    .container {
      .banner__content {

        height: 729px;
        margin-bottom: 65px;

        .banner__content-title {
          padding-top: 90px;
          padding-bottom: 35px;
          font-size: 54px;
        }
        .banner__content-text-p1 {
          padding-left: 50px;
          padding-right: 50px;
          font-size: $font+4;
        }
        .banner-btn {
          top: 426px;

          .banner-button {
            width: 390px;
            height: 62px;
            font-size: $font+5;
            border-radius: 35px;
            margin-bottom: 17px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 481px) {
  .banner {
    .container {
      .banner__content {
        height: 681px;
        background-position-y: 91%;

        .banner__content-title {
          padding-top: 40px;
          padding-bottom: 20px;
          font-size: 72px;
        }
        .banner__content-text-p1 {
          display: none;
        }
        .banner__content-text-p2 {
          display: block;
          color: $purple;
          font-size: 24px;
          padding: 0;
          line-height: 33px;
          padding-left: 29px;
          padding-right: 29px;
        }
        .banner__content-text-p3 {
          margin-top: 14px;
        }
        .banner-btn {
          top: 455px;
        }
      }
    }
  }
}

@media only screen and (min-width: 993px) {
  .banner {
    .container {
      .banner__content {
        height: 701px;
        background-position-y: 100%;

        .banner__content-title {
          padding-top: 50px;
          padding-bottom: 16px;
          font-size: 82px;
        }

        .banner__content-text-p2 {
          font-size: 30px;
        }
      }
    }
  }
}